html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    position: relative;
    z-index: 0;
    

}



.who-we-are-container
{
    
    width: 100%;
    height: 250px;
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bgbanner1.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    
}






.head-one
{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
}


.content-container
{
    width: 100%;
    height: 350px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    
    
}

.paragraph-content 
{
    width: 85%;
    height: 350px;
    background:  repeating-linear-gradient(110deg,white 0, white 120px, #649d66 10%, #649d66);
        
}

.paragraph-content p 
{
    padding-left: 150px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7;
    padding-right: 50px;
    text-align: justify;
    

}

.paragraph-content  h1
{
    padding-left: 150px;
    padding-top: 30px;
    
    
    
    font-family: 'PT Sans', sans-serif;
}


.left-diamond, .right-diamond
{
    width: 200px;
    height: 200px;
    
}

.left-diamond .item,.right-diamond .item
{
 width: 200px;
 height: 200px;
 background-color: black;
 transform: rotate(45deg);
 position: relative;
 
 border-radius: 10px;
 box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.5);
 
 }

 





.left-diamond .item1
{
    left:45%;  
    background-image: url(../images/Screenshot_4.png);
    background-size: cover; 
    transform: rotate(-45deg);
       
}


.right-diamond .item2
{
    right: 45%;
    top: 100px;
    background-image: url("../images/Screenshot_5.png");
    background-size: cover;
    transform: rotate(-45deg);
}


.second-content-container
{
    width: 100%;
    height: 350px;
    font-family: 'PT Sans', sans-serif;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    
}
.second-paragraph-content
{
    width: 90%;
    height: 350px;
    background: repeating-linear-gradient(255deg, white , white 10%, #649d66 100px, #649d66);
}


.second-paragraph-content p
{
    padding-left: 50px;
    padding-right: 50px;


    line-height: 1.7;
    padding-right: 150px;
    text-align: justify;
}

.second-paragraph-content h1
{
    padding-left: 50px;
    padding-top: 30px;
}

/*.bg
{
    height: 150px;
    width: 100%;
    background-color: #649d66;
    
    background-image: url("../images/transparent-flower-border.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left:0;
    
    
}*/


.bg
{
    height: 150px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.bg img{
    width: 100px;
    height: 100px;
    
}